{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}
.STYLE3 {font-size: 12px; font-weight: bold; }
.STYLE4 {
	color: #03515d;
	font-size: 12px;
}
-->
</style>

    <script src="/static/kindeditor-all.js"></script>
    <script src="/static/lang/zh-CN.js"></script>
    <script src="/static/themes/default/default.js"></script>

    <script>
        KindEditor.ready(function (k) {
            window.editor = k.create('#xinxi_neirong',{
                resizeType:1,
                allowPreviewEmoticons : false,
                allowImageRemote : false,
                uploadJson : '/upload_image',

            });
        })
    </script>
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" background="../../static/tab/images/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="../../static/tab/images/tab_03.gif" width="12" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div align="center"><img src="../../static/tab/images/tb.gif" width="16" height="16" /></div></td>
                <td width="95%" class="STYLE1"><span class="STYLE3">你当前的位置</span>：[班级录入]</td>
              </tr>
            </table></td>
            <td width="54%">&nbsp;</td>
          </tr>
        </table></td>
        <td width="16"><img src="../../static/tab/images/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="../../static/tab/images/tab_12.gif">&nbsp;</td>
        <td height="300" valign="top">







<form method="post" name="form1" action="">
	<script>
		//下面代码获取页面的参数
		urlinfo = window.location.href  //获取当前页面的url
		console.log(urlinfo);
		len = urlinfo.length; //获取url的长度
		offset =urlinfo.indexOf("?");//设置参数字符串开始的位置
		neirong = urlinfo.substr(offset+1,len);//取出参数字符串 这里会获得类似“id=1”这样的字符串
		console.log(neirong);
		neirong1 = neirong.split("&");//对获得的参数字符串按照“=”进行分割

		cs1 = neirong1[0].split("=");
		cs1_mc = cs1[0];//得到参数名字
		cs1_zhi = cs1[1];//得到参数值
		//alert("参数1的名称："+cs1_mc + " | 参数1的值："+cs1_zhi);
function bb(){

	 var laoshi= document.getElementById("laoshi").value;
	 tmp_laoshi = laoshi.split("|");
	 var laoshi_id = tmp_laoshi[0];
	 var laoshi_mc = tmp_laoshi[1];

     // 或者直接在子页面给父页面赋值
     window.opener.document.getElementById("id" + cs1_zhi).value=laoshi_id;
	 window.opener.document.getElementById("laoshi" + cs1_zhi).value=laoshi_mc;
     window.close();
}

	</script>
<table width="99%" border="0" cellspacing="1" cellpadding="5" align="center" bgcolor="#F2F2F2">
      <tr>
        <td bgcolor="#FFFFFF" align="center">老师列表</td>
        <td bgcolor="#FFFFFF" colspan="2">
            <select name="laoshi" id="laoshi" >
                {% for fenzu in fenzus1 %}
                <option  value="{{ fenzu.0 }}|{{ fenzu.6 }}"  >
                    {{ fenzu.0 }} --- {{ fenzu.6 }}
                </option>
                {% endfor %}
            </select>
        </td>
      </tr>


      <tr>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">

            <input  type="button"   onclick="bb();" value="确认选择老师" />

        </td>
      </tr>
</table>
</form>







        
        
        </td>
        <td width="8" background="../../static/tab/images/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="35" background="../../static/tab/images/tab_19.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"><img src="../../static/tab/images/tab_18.gif" width="12" height="35" /></td>
        <td></td>
        <td width="16"><img src="../../static/tab/images/tab_20.gif" width="16" height="35" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
